<footer>
  <div class="footer-container">
    <a to="/" class="nav-link">
      <img
        src="../../assets/img/onely-logo.png"
        alt="Onely"
        class="footer-logo"
      />
    </a>
    <p class="footer-text">
      Working across the technical spectrum of SEO, Onely provides strong
      commercial value to clients through cutting-edge solutions.
    </p>
    <a
      href="https://www.facebook.com/Onelycom"
      target="_blank"
      rel="noreferrer"
      aria-label="Onely's facebook page"
    >
      <i class="fa fa-facebook social-media-footer"></i>
    </a>
    <a
      href="https://www.linkedin.com/company/onelycom"
      target="_blank"
      rel="noreferrer"
      aria-label="Onely's linkedin page"
    >
      <i class="fa fa-linkedin social-media-footer"></i>
    </a>
    <a
      href="https://twitter.com/onelycom"
      target="_blank"
      rel="noreferrer"
      aria-label="Onely's twitter page"
    >
      <i class="fa fa-twitter social-media-footer"></i>
    </a>
  </div>
</footer>
