<main>
  <div class="all-items-container">
    <a *ngFor="let post of categoryPostsToDisplay">
      <div class="recent-item">
        <img src="{{ post.coverImage.url }}" alt="post cover" />
        <span>
          <p>{{ post.author.name }},</p>
          <p>{{ post.date }}</p>
        </span>
        <span>
          <h3>{{ post.title }}</h3>
        </span>
      </div>
    </a>
  </div>
  <div class="pagination-container">
    <a>
      <span
        *ngIf="currentPage > 1"
        class="pagination-control"
        (click)="goToPreviousPage()"
        >← Previous</span
      >
    </a>
    <a>
      <span
        *ngIf="currentPage < totalPages.length"
        class="pagination-control"
        (click)="goToNextPage()"
        >Next →</span
      >
    </a>
  </div>
</main>
